* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}



.header {
    text-align: center;
}

.body {
    display: flex;
    justify-content: space-between;
}


.info {
    display: flex;
    flex-direction: column;
    width: 35%;
    flex-shrink: 0;
}

.upcoming {
    width: 65%;
    flex-shrink: 0;
}

.nav > ul > li{
    display: inline;
}
.nav > ul > li > a{
    text-decoration: none;
    color: black;
    
}
.footer {
    text-align: center;
    padding: 10px;
    width: 100%;
}
.socials > a {
    text-decoration: none;
    color: black;
    margin: 0 10px;
}